<?xml version="1.0" encoding="utf-8"?>
<plist version="1.0"><dict> 
  <key>NetError</key>
  <string>网络连接错误，请重连</string>
  <key>ShengYu</key>
  <string>剩余</string>
  <key>Zheng</key>
  <string>张</string>  
  <key>Ju</key>
  <string>局</string>   
  <key>with258</key>
  <string>258做将</string>
  <key>withfeng</key>
  <string>带风牌</string>
  <key>withhua</key>
  <string>带花牌</string>  
  <key>minglou</key>
  <string>明搂</string>
  <key>withjiangyise</key>
  <string>将一色</string>  
  <key>withqidui</key>
  <string>七对</string>  
  <key>changyongyu1</key>
  <string>万水千山总是情，多输一点行不行！</string>
   <key>changyongyu2</key>
  <string>麻将有首歌，上碰下自摸！</string>
   <key>changyongyu3</key>
  <string>可以打快点没，瞌睡都出来噶！</string>
   <key>changyongyu4</key>
  <string>这个牌都敢杠，小心着做老板呦！</string>
   <key>changyongyu5</key>
  <string>死吧你，牌都摸不到!</string>
   <key>changyongyu6</key>
  <string>今天高兴老火！</string>
   <key>changyongyu7</key>
  <string>打的太好噶，你简直是我的偶像！</string>
   <key>changyongyu8</key>
  <string>该出手时就出手，杠上开花有没有！</string>
   <key>changyongyu9</key>
  <string>不要吵了专心玩游戏吧！</string>
  <key>state1</key>
  <string>正在选择</string>
   <key>state2</key>
  <string>已经同意</string>
   <key>state3</key>
  <string>已经拒绝</string>
   <key>Dismiss</key>
  <string>房主已经将房间解散，请重新选择</string> 
   <key>DismissNoDeduct</key>
  <string>游戏未开始，解散房间不扣钻石</string>  
   <key>InGame</key>
  <string>您正在游戏中，请稍后重试</string>
  <key>zimo</key>
  <string>自摸</string>  
  <key>gangshanghua</key>
  <string>杠上花</string>
  <key>qiangganghu</key>
  <string>抢杠胡</string> 
 <key>dianpao</key>
  <string>点炮</string> 
 <key>fangrepao</key>
  <string>放热炮</string> 
  <key>hu_1</key>
  <string>未叫牌</string> 
  <key>hu_2</key>
  <string>叫牌</string> 
  <key>hu_3</key>
  <string>平胡</string> 
  <key>hu_4</key>
  <string>大对子</string> 
  <key>hu_5</key>
  <string>七对</string> 
  <key>hu_6</key>
  <string>龙七对</string> 
  <key>hu_7</key>
  <string>清一色</string> 
  <key>hu_8</key>
  <string>清七对</string> 
  <key>hu_9</key>
  <string>清大对</string> 
  <key>hu_10</key>
  <string>青龙背</string>
   <key>8ju</key>
  <string>4局</string>
   <key>16ju</key>
  <string>8局</string>
   <key>zigang</key>
  <string>闷杠X2</string>
   <key>zhuanwan</key>
  <string>自杠X2</string>
  <key>gen</key>
  <string>跟庄</string>
   <key>bugen</key>
  <string>不跟庄</string>
  <key>jinping</key>
  <string>来呀锦屏麻将</string>
  <key>roomid</key>
  <string>房间号：</string>
   <key>menushare</key>
  <string>最正宗的锦屏麻将,好友约局神器,快来一起加入吧!邀请码:%s,记得要绑定我呦!</string>
  <key>wopei</key>
  <string>我赔</string>
  <key>peiwo</key>
  <string>赔我</string>
  <key>fen</key>
  <string>分</string>
  <key>wu</key>
  <string>无</string>
  <key>copySuccess</key>
  <string>复制成功！</string>
  <key>yonghuming</key>
  <string>180</string>
  <key>4renfang</key>
  <string>四人房</string>
  <key>sandingguai</key>
  <string>三丁拐</string>
  <key>sandingliangfang</key>
  <string>三丁两房</string>
  <key>2dingguai</key>
  <string>二丁拐</string>
  <key>erdingliangfang</key>
  <string>二丁两房</string>
</dict></plist>